@charset "UTF-8";

html{
  font-size: 100%;
}

body{
background-color: #f5f2e5;
background-image: url(images/bg.png);
background-repeat: no-repeat;
background-position: 30px 80px;
}

h1{
  color: #0bd;
  background-color: #faa;
  font-size: 2rem;
  font-family: sans-serif;
}

h2{
  color: navy;
  font-size: 20px;
  font-family: "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
  border: 5px dotted tomato;
  background: #0bd;
  margin-top: 30px;
  margin-left: 100px;
}

h3{
  background: #0bd;
  margin: 30px 0 0 100px;
  padding: 40px;
  border-width: 1px 4px 8px 12px;
  border-style: solid;
}

h4{
  border-width: 1px;
  border-style: double dotted solid ridge;
  border-color: tomato;
}

h5{
  border-style: solid;
  border-color: tan #0bd tomato #000;
}

h6{
  border-bottom: 2px solid #0bd;
}

p{
  color: #999;
  font-size: 20px;
  font-weight: bold;
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
  line-height: 1.7;
  text-align: justify;
}


p.blue{
  color: rgb(199, 40, 133);
}

#orange{
  color: #fa2;
}

div p{
  color: red;
  border-width: thick;
  border-style: solid;
}

div{
  background: #70a2dc url(images/bg-airplane.jpg) no-repeat center bottom/cover;
  height: 100vh;
}

ul{
list-style: square url(images/star.png) outside;
}

ol{
  list-style-type: hiragana;
  list-style-position: inside;
}